// icomoon font inclusion
@import '../vendor/css/icomoon.css';
// icomoon:

// :variable declarations
$serif-fonts: 'Voces', serif;
$sans-serif-fonts: 'PT Sans', sans-serif;
// variable declarations:

html,
body {
  background-color: #fafafa;
  font-family: $sans-serif-fonts;
  font-size: 16px;
}

html,
body,
main {
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $serif-fonts;
}

input,
area,
keygen,
select,
button {
  font-family: $sans-serif-fonts;
}

.title {
  text-align: center;
  font-size: 1.32em;
}

.inner-content {
  box-sizing: border-box;
  padding: 46px 50px;
  width: 100%;
}
.content-wrapper {
  height: 100%;
  width: 100%;
}

.content-wrapper section {
  width: 100%;
}

// :header
@import '../includes/css/header.scss';
// header:

#landing {
  height: 118%;
  // as the second section will overflow, add a bottom margin to create a more unitary effect.
  margin-bottom: 160px;
  position: relative;

  #opacity-layer {
    background: #46483f;
    height: 100%;
    left: 0;
    opacity: 0.28;
    position: absolute;
    top: 0;
    width: 100%;
  }
  #hro-txt {
    left: 9%;
    position: absolute;
    top: 25%;
  }

  .landing-video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  #ancillary-information {
    background-color: #f6f6f6;
    width: 100%;

    .inner-content {
      padding-top: 32px;
    }
  }

  .landing-video,
  #ancillary-information {
    vertical-align: top;
  }
}

#popin-title {
  font-size: 1.2em;
  text-align: center;
}

#an_Inf-container {
  box-sizing: border-box;
  display: table;
  margin-top: 28px;
  padding: 0 20px;
  white-space: nowrap;
  width: 100%;
}

.inf-byte {
  display: table-cell;
  text-align: center;
  transform: rotateX(90deg) scaleY(0);
  vertical-align: top;
  width: 33.33%;

  .inner-container {
    background-color: #FAFAFA;
    display: inline-block;
    padding: 8px 24px;
  }
}

// temporary
.inf-byte:hover {
  transition-duration: 2s;
  transition-property: transform;
  transform: rotateX(0) scaleY(1);
}

.threed-transform-rect {
  display: inline-block;
  font-size: 1.3em;
  margin: 8px 0;
  overflow: hidden;
  padding: 4px 2px;
  span {
    background-color: #a89f7b;
    border: 1px solid #9a916f;
    border-left-style: none;
    color: #dadbc9;
    float:left;
    padding: 2px 6px;
  }

  span:first-child {
    border-left-style: solid;
  }
}
#retinue {

  box-sizing: border-box;
  padding: 54px 40px 86px;

  .lead-in {
    .container-title {
      font-size: 1.2em;
      padding-bottom: 12px;
      position: relative;
      text-align: center;
    }
    // horizontal separator
    .container-title:after {
      background-color: #d9d9d9;
      bottom: 0;
      content: "";
      height: 1px;
      left: 0;
      position: absolute;
      width: 100%;
    }
  }
}

#video-switch {
    display: block;
    margin: 48px auto 0;
    text-align: center;
    width: 100%;
}

// :lory carousel styles
@import '../includes/css/lory.scss';
// lory:


#video-slider {
  box-sizing: border-box;
  display: block;
  margin: 48px auto 0;
  overflow: hidden;
  padding: 0 2.8%;
  position:relative;
  width: 100%;
  li {
    box-sizing:border-box;
    display: inline-block;
    padding: 4px 12px;
    position: relative;
    vertical-align: bottom;
    width: 240px;

    a { text-decoration: none; }
  }
}



.video-tab {
  background-color: #F6F6F6;
  //border: 1px solid #828282;
  //box-shadow: 2px 3px 4px 0px rgb(157,157,157), 1px 4px 6px rgb(214, 214, 214);
  height: 100%;
  margin-top: 4px;
  width: 100%;
  img {
    width: 100%;
  }

  .video-info {
    font-size: 1em;
    line-height: 100%;
    overflow: auto;
  }
}
.video-meta {
  margin-top: 4px;
}

.icon-videocam {
  color: #641515;
  text-align: left;
}
.video-dec {
  font-size: 1.05em;
  margin-left: 6px;
  text-align: right;
}

.video-info,
.video-title {
  padding: 2px 4px;
  white-space: normal;
}

.video-title {
  color: #454545;
  font-size: 1.05em;
}

.video-title:hover {
  color: #619a69;
}

#travel,
#discover,
#relax {
  height: 114%;
  position: relative;
}

#travel {
  color: #7d88ff;
  .travel-image {
    background-image: url("../assets/images/greek_town.jpg");
  }

  .image-text {
    left: 13%;
    top: 14.5%;
  }

}

#discover {
  color: #98ffdc;
  .travel-image {
    background-image: url("../assets/images/aurora_iceland.jpg");
  }
  .image-text {
    left: 18%;
    top: 24%;
  }
  .image-p {
    max-width: 78%;
  }
}

#relax {
  color: #fbfaff;
  .travel-image {
    background-image: url("../assets/images/oregon_coast.jpg");
  }
}

.travel-image {
  height: 100%;
  width: 100%;
}

.image-text {
  position: absolute;
  top: 33.4%;
  left: 64%;

  h1 {
    font-size: 118px;
  }

  p {
    line-height: 1.25em;
    margin-top: 0.28em;
    margin-left: -29px;
    text-indent: 16px;
    width: 100%;
  }
}
.image-fixed-parallax {

  background-attachment: fixed;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-size: cover;
}

#gallery {

  position: relative;
  width: 100%;

  .lead-in {
    font-size: 1.2em;
    padding-bottom: 12px;
    text-align: center;
  }
}

.gallery-container {
  margin: 0 auto;
  padding-bottom: 12px;
  padding-top: 46px;
  width: 90%;
}

.gallery {
  box-sizing: border-box;
  margin: 28px auto 26px;
  width: 100%;

  a {
    box-sizing: border-box;
    display: inline-block;
    padding: 0 20px;
    position: relative;
    vertical-align: top;
    width: 25%;
  }

  .gallery-img {
    box-sizing: border-box;
    height: auto;
    padding: 10px 6px;
    width: 100%;
  }

  .js_slide:after {
    bottom: -8px;
    border: #bab4b4 solid 3px;
    content: '';
    left: -8px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: -8px;
    top: -8px;
    transition-duration: 0.3s;
    transition-property: top, right, bottom, left, opacity;
  }

  .js_slide:hover:after {
    bottom: 3px;
    left: 2px;
    opacity: 1;
    right: 2px;
    top: 3px;
  }

  .js_prev {
    margin-left: 8px;
  }

  .js_next {
    margin-right: 8px;
  }
}

#information {
  background: #f1f1f1;
  margin-top: 6px;

  #blog-wrapper-container {
    margin: 32px auto;
    width: 92%;
  }

  #blogroll {
    margin: 0 auto;

    a {
      text-decoration: none;
    }
  }

  .img-post {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    overflow: hidden;
    padding: 16px;
    position: relative;
    height: 100%;
    width: 100%;
  }


  .info-excerpt {
    bottom: -100%;
    color: #D7D7D7;
    content: '';
    height: 74%;
    left: 0;
    opacity: 0;
    padding: 0 16px;
    position: absolute;
    right: 0;
    transition: bottom 0.8s linear,
                opacity 0.6s ease-in,
                transform 0.8s 0s ease,
                z-index 0.8s 0s;
    transform: scaleY(0);
    transform-origin: 50% 100%;
    z-index: -10;

    .info-title {
      margin-top: 26px;
      margin-bottom: 8px;
    }

    .info-desc {
      text-indent: 16px;
    }
  }

  .blog-item-1-3 .info-excerpt {
    padding: 0 8px;
  }

  .info-excerpt:after {
    background: #080808;
    box-shadow: inset 0px 0px 20px 48px #000, 0px 0px 4px 4px #000;
    bottom: 0;
    content: '';
    height: 100%;
    left: 0;
    opacity: 0.78;
    position: absolute;
    right: 0;
    z-index: -1;
  }

  .img-post:hover .info-excerpt {
    bottom: 0%;
    opacity: 1;
    transform: scaleY(1);
    z-index: 10;
    transition: bottom 0.8s ease,
                opacity 0.5s ease-in,
                transform 0.6s ease;
  }

  #mountain-post {
    background-image: url("../assets/images/alpine_hammock.jpg");
  }

  #lisbon-post {
    background-image: url("../assets/images/lisbon.jpg");
  }

  #city-post {
    background-image: url("../assets/images/streetscape.jpeg");
  }

  #japan-post {
    background-image: url("../assets/images/paper_lantern.jpg");
  }

  #romania-post {
    background-image: url("../assets/images/umbrella_woman.jpeg")
  }

  #nature-post {
    background-image: url("../assets/images/night_sky.jpg");
  }

  #scuba-post {
    background-image: url("../assets/images/underwater.jpg");
  }

  #russia-post {
    background-image: url("../assets/images/mosque.jpeg");
  }

  #beachside-post {
    background-image: url("../assets/images/beachside.jpeg");
  }

  #tokyo-post {
    background-image: url("../assets/images/tokyo.jpg");
  }

  #blog-button {
    background: #e6daff;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    display: block;
    font-size: 1.08em;
    margin: 56px auto 0;
    padding: 7px 21px;
    position: relative;
    transform: perspective(1px) translateZ(0);
  }

  #blog-button:before {
    border: 2px solid #b0acb6;
    border-radius: inherit;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.16s ease;
  }

  #blog-button:after {
    background: #8c85a0;
    border-radius: inherit;
    bottom: 0;
    content: '';
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    transform: scale(0);
    top: 0;
    transition: all 0.4s ease;
  }

  #blog-button:hover:before, #blog-button:active:before, #blog-button:focus:before {
    border-width: 3px;
    bottom: -6px;
    left: -6px;
    right: -6px;
    top: -6px;
  }

  #blog-button:active, #blog-button:focus {
    color: #f6f6f6;
  }
  #blog-button:active:after, #blog-button:focus:after {
    left: 0%;
    opacity: 1;
    transform: scale(1);
    z-index: -1;
  }
}

/* :blog grid classes */
.blog-row {
  overflow: hidden;
}

.blog-1-3 {
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 33.33%;
}

.blog-2-3 {
  width: 66.67%;
}

.blog-3-3 {
  width: 100%;
}

.blog-half {
  width: 50%;
}

.blog-1-3,
.blog-2-3,
.blog-half {
  float: left;
  display: inline-block;
}

.blog-1-3,
.blog-2-3,
.blog-3-3,
.blog-half {
  height: 390px;
  box-sizing: border-box;
  margin: 0;
  padding: 5px;
  border: none;
}

/* blog grid classes: */

$contact-bg: #425458;

#location {
  background-color: $contact-bg;
  color: #d2d2d2;
  position: relative;

  .inner-content {
    overflow: hidden;
    padding: 22px 16px;
  }
}

.et-title {
  cursor: default;
  position: absolute;
  top: -0.74em;
  right: 42px;
  font-size: 1.6em;
  color: $contact-bg;
  user-select: none;
}

.map-content,
.text-content {
  display: inline-block;
  float: left;
}
// :map

.map-content {
  width: 69%;
}

#contact-map {
  height: 340px;
  width: 100%;
}

// map:

// :text
.text-content {
  box-sizing: border-box;
  font-size: 1.05em;
  min-height: 200px;
  padding-left: 46px;
  text-align: left;
  width: 31%;

  .small-title {
    color: #fafafa;
    font-size: 1.16em;
    margin-top: -1.5em;
    padding-bottom: 0.5em;
  }
}

.address-details {
  font-size: 0.95em;
  margin-top: -8px;

  h4 {
    display: inline-block;
    font-size: 1.2em;
    position: relative;

    &:after {
      background-color: #6c7d81;
      border-radius: 2px;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      content: "";
      height: 2px;
      left: 0;
      position: absolute;
      bottom: -4px;
      width: 138%;
    }
  }

  .location-information {
    margin-top: 18px;
    li {
      line-height: 1.5em;
    }
  }

  ul.street-location,
  ul.phone-no,
  ul.hours-open {
    position: relative;
    margin: 10px 0 10px 6px;
  }

  ul.street-location:before {
    content: '\e904';
  }

  ul.phone-no:before {
    content: '\e942';
  }

  ul.hours-open:before {
    content: '\e94f';
  }

  ul.street-location:before,
  ul.phone-no:before,
  ul.hours-open:before {

    // this is the icomoon fontstyle
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    position: absolute;
    top: 4px;
    left: -23px;
  }
}
// text:

// :footer
  @import '../includes/css/footer.scss';
// footer:
