doctype html
html
  head
    include includes/pug/head.pug
  body
    include includes/pug/header.pug
    main
      .content-wrapper
        section#landing
          div#opacity-layer
          video.landing-video(src="assets/videos/london_eye.mp4" loop="true" autoplay)
          div#hro-txt
            img(src="assets/images/main_name.png")
          div#ancillary-information
            div.inner-content
              h3#popin-title Ipsum Co
              ul#an_Inf-container
                li.inf-byte
                  div.inner-container
                    p
                      | We offer services to
                      <br>
                      <p class="threed-transform-rect">
                        <span>1</span>
                        <span>0</span>
                        <span>2</span>
                        <span>0</span>
                      </p>
                      <br>
                      | different locations.
                li.inf-byte
                  div.inner-container
                    p
                      | Serving
                      <br>
                      <p class="threed-transform-rect">
                        <span>0</span>
                        <span>1</span>
                        <span>2</span>
                        <span>9</span>
                        <span>6</span>
                        <span>7</span>
                      </p>
                      <br>
                      | customers.
                li.inf-byte
                  div.inner-container
                    p
                      | Offering
                      <br>
                      <p class="threed-transform-rect">
                        <span>0</span>
                        <span>2</span>
                        <span>5</span>
                        <span>4</span>
                      </p>
                      <br>
                      | unique packages.
        section#retinue
          div.lead-in
            h3.title.container-title Find New Places
            div#video-slider.slider.js_slider
              div.frame.js_frame
                ul.slides.js_slides
                  li.js_slide
                    .video-info
                      a(href="javascript:void(0)")
                        p.video-title Hong Kong.
                    .video-tab
                      img(src="assets/images/hong_kong_skyline.jpg")
                    .video-meta
                      span.icon-videocam
                      span.video-dec Video
                  li.js_slide
                    .video-info
                      a(href="javascript:void(0)")
                        p.video-title Niagara Falls.
                    .video-tab
                      img(src="assets/images/niagara_falls_f.jpg")
                    .video-meta
                      span.icon-videocam
                      span.video-dec Video
                  li.js_slide
                    .video-info
                      a(href="javascript:void(0)")
                        p.video-title V&#228;lkommen till Stockholm. (Welcome to Stockholm)
                    .video-tab
                      img(src="assets/images/stockholm_night_f.jpg")
                    .video-meta
                      span.icon-videocam
                      span.video-dec Video
                  li.js_slide
                    .video-info
                      a(href="javascript:void(0)")
                        p.video-title Nestled in the Himalayas...
                    .video-tab
                      img(src="assets/images/himalayan_buddha_f.jpg")
                    .video-meta
                      span.icon-videocam
                      span.video-dec Video
                  li.js_slide
                    .video-info
                      a(href="javascript:void(0)")
                        p.video-title Discover Europe.
                    .video-tab
                      img(src="assets/images/european_city_f.jpg")
                    .video-meta
                      span.icon-videocam
                      span.video-dec Video
              // lory.js slider arrows
              <span class="js_prev prev">
                  <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 501.5 501.5"><g><path fill="#2E435A" d="M302.67 90.877l55.77 55.508L254.575 250.75 358.44 355.116l-55.77 55.506L143.56 250.75z"/></g></svg>
              </span>
              <span class="js_next next">
                  <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 501.5 501.5"><g><path fill="#2E435A" d="M199.33 410.622l-55.77-55.508L247.425 250.75 143.56 146.384l55.77-55.507L358.44 250.75z"/></g></svg>
              </span>
        section#travel
          div.travel-image.image-fixed-parallax
          div.image-text
            h1.image-parallax-title Travel
            p.image-p.
              Vivamus orci nulla, ornare quis luctus nec, varius ut dui. Quisque facilisis erat vel ante varius, non semper mi porta.
              In non lectus condimentum, dapibus metus eget, lobortis tortor. Maecenas a ipsum ex. Vivamus tincidunt vel lacus a rhoncus.
              Nulla varius, quam a porttitor porta, turpis quam consequat risus, a vulputate nulla enim ut massa.
              Maecenas et interdum lorem. Curabitur efficitur rhoncus dui non luctus
        section#relax
          div.travel-image.image-fixed-parallax
          div.image-text
            h1.image-parallax-title Relax
            p.image-p.
              Cras eget justo a purus tristique venenatis. Cras porta quam metus, non commodo metus imperdiet tempus.
              Etiam pharetra felis vitae magna fringilla pellentesque. Aliquam posuere, leo ac pulvinar tincidunt, ante dolor dapibus dolor, lacinia pretium felis tortor vitae mauris.
              Maecenas ac nisl sed nisi convallis auctor id eget velit.
              Sed mi massa, luctus ut faucibus sit amet, vulputate vitae libero.
        section#discover
          div.travel-image.image-fixed-parallax
          div.image-text
            h1.image-parallax-title Discover
            p.image-p.
              Nullam laoreet diam ut sem feugiat condimentum.
              Quisque bibendum eros nec metus dictum, eu convallis mauris dapibus. Integer purus justo, pulvinar id est ac, vestibulum sagittis metus.
              Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
              Phasellus eros mi, pharetra quis rutrum eu, dignissim sit amet odio.
              Cras condimentum ipsum eros, in laoreet nunc hendrerit feugiat. Praesent sed sem arcu.
        div#gallery.slider.js_slider
          div.gallery-container.frame.js_frame
            h2.lead-in Need some inspiration?
            div.gallery.slides.js_slides
              a.js_slide(href="assets/images/japanese_street.jpg" data-at-800="assets/images/japanese_street-800.jpg" data-at-1366="assets/images/japanese_street-1366.jpg")
                img.gallery-img(src="assets/images/japanese_street.jpg")
              a.js_slide(href="assets/images/some_street_in_romania.jpg" data-at-800="assets/images/some_street_in_romania-800.jpg" data-at-1366="assets/images/some_street_in_romania-1366.jpg")
                img.gallery-img(src="assets/images/some_street_in_romania.jpg")
              a.js_slide(href="assets/images/mosque.jpeg" data-at-800="assets/images/mosque-800.jpg" data-at-1366="assets/images/mosque-1366.jpg")
                img.gallery-img(src="assets/images/mosque.jpeg")
              a.js_slide(href="assets/images/underwater.jpg" data-at-800="assets/images/underwater-800.jpg" data-at-1366="assets/images/underwater-1366.jpg")
                img.gallery-img(src="assets/images/underwater.jpg")
              a.js_slide(href="assets/images/streetscape.jpeg")
                img.gallery-img(src="assets/images/streetscape.jpeg")
              a.js_slide(href="assets/images/mountain_lake.jpg" data-at-800="assets/images/mountain_lake-800.jpg" data-at-1366="assets/images/mountain_lake-1366.jpg")
                img.gallery-img(src="assets/images/mountain_lake.jpg")
          <span class="js_prev prev">
              <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 501.5 501.5"><g><path fill="#2E435A" d="M302.67 90.877l55.77 55.508L254.575 250.75 358.44 355.116l-55.77 55.506L143.56 250.75z"/></g></svg>
          </span>
          <span class="js_next next">
              <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 501.5 501.5"><g><path fill="#2E435A" d="M199.33 410.622l-55.77-55.508L247.425 250.75 143.56 146.384l55.77-55.507L358.44 250.75z"/></g></svg>
          </span>
        section#information
          div.inner-content
            div.lead-in
              h2.title What's Been Happening?

            div#blog-wrapper-container
              ul#blogroll
                .blog-row
                  li.blog-item.blog-half
                    a(href="javascript:void(0)")
                      #mountain-post.img-post
                        .info-excerpt
                          h3.info-title Lorem ipsum.
                          p.info-desc.
                            Dolor sit amet, consectetur adipiscing elit. Cras eu augue sit amet sapien blandit lobortis.
                            Fusce rhoncus purus vel ante aliquam facilisis. Nunc non massa mollis, scelerisque mauris sed.
                            volutpat mauris. Pellentesque sit amet ornare ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque ullamcorper maximus quam.
                            Et consectetur augue congue id. Sed et tincidunt velit, in sollicitudin elit. Aliquam et convallis dui.
                  li.blog-item.blog-half
                    a(href="javascript:void(0)")
                      #lisbon-post.img-post
                        .info-excerpt
                          h3.info-title Pellentesque volutpat.
                          p.info-desc.
                            Neque ac tortor venenatis condimentum. Suspendisse nec nibh placerat, commodo tellus ut, tincidunt arcu.
                            Nam facilisis, dolor non viverra laoreet, justo nunc commodo urna, at scelerisque nulla magna vitae orci.
                            In dolor massa, rutrum nec cursus at, rhoncus varius nisi. Mauris nec fermentum elit. Integer eu cursus odio,
                            ut porttitor tellus. Nam in maximus massa. Etiam euismod eu justo eget cursus.
                            Nulla ut ligula euismod augue lacinia varius et vel mi.
                .blog-row
                  li.blog-item.blog-1-3
                    a(href="javascript:void(0)")
                      #japan-post.img-post
                        .info-excerpt
                          h3.info-title Aenean Eget.
                          p.info-desc.
                            Proin nec pulvinar justo, in condimentum leo. Nullam viverra eros pharetra, tempor mauris vel, sodales augue.
                            Aenean sit amet aliquam tortor, ut malesuada lacus. Pellentesque vitae ipsum non metus ultricies rhoncus. Maecenas at felis quis nisl laoreet dictum non quis nibh.
                            Nulla non ullamcorper neque. Phasellus quis mi non nisl eleifend efficitur id in risus.
                  li.blog-item.blog-1-3
                    a(href="javascript:void(0)")
                      #romania-post.img-post
                        .info-excerpt
                          h3.info-title Ut a risus diam.
                          p.info-desc.
                            Duis molestie scelerisque rutrum.
                            In augue tortor, feugiat at ligula eu, posuere congue turpis. Nunc et lectus a erat euismod tempor.
                            Ut vitae augue ac augue finibus commodo. In nec faucibus mauris, et consectetur urna.
                            Vestibulum quis magna nec augue bibendum tristique sed eget mauris.
                            Duis id neque augue. Aliquam erat volutpat
                  li.blog-item.blog-1-3
                    a(href="javascript:void(0)")
                      #nature-post.img-post
                        .info-excerpt
                          h3.info-title Aliquam semper ultricies.
                          p.info-desc.
                            Integer in libero eget leo condimentum vulputate. Maecenas pulvinar massa dui, vitae faucibus neque feugiat vitae.
                            Duis vestibulum eleifend tellus eu vestibulum. Aliquam aliquet tempor purus vitae ornare.
                            Nulla sollicitudin, augue vitae volutpat fringilla, nibh mi pellentesque turpis, et feugiat ex eros vel justo.
                            Ut dui nunc, vestibulum a libero in, viverra cursus magna.
              button#blog-button(type="button") See More
        section#location
          h2.et-title Contact
          div.inner-content
            div.map-content
              div#contact-map

            div.text-content
              div.address-details
                h4 Find Us
                ul.location-information
                  ul.street-location
                    li This Is A Street
                    li With a Zipcode
                    li In Dover Delaware
                  ul.phone-no
                    li (000) 000-0000
                  ul.hours-open
                    li Hours:
                    li Mon-Fri 7AM - 8PM
                    li Sat-Sun 10AM - 6PM
        include includes/pug/footer.pug
    include includes/pug/scripts.pug
