footer#footer
  .footer-wrapper
    #social-media-gallery
      ul
        a(href="//www.facebook.com")
          li.icon-facebook
        a(href="//www.twitter.com")
          li.icon-twitter
        a(href="//www.tumblr.com")
          li.icon-tumblr
        a(href="//plus.google.com")
          li.icon-googleplus
    p#copyright
      <span>&#169;</span> Ipsum Co. 2015. All Rights Reserved.
