// header partial pug file
header#hdr
  #display-hdr
    #hdr-logo
      img(src="assets/images/tmp_coa.png")
      #hamburger.ham-container
        span.ham-line
    #inline-hdr
      ul.hdr-options
        li
          a(href="javascript:void(0)") Home
        li
          a(href="javascript:void(0)") Locations
        li
          a(href="javascript:void(0)") Learn
        li
          a(href="javascript:void(0)") Contact
  #overlay-hdr
    .overlay-inner-contents
      .overlay-text-content
        div.hdr-directory
          .wrap
            h2 Home
            p Lost your way? Go back to the start.
        div.hdr-directory
          .wrap
            h2 Locations
            p Where CAN you go?
        div.hdr-directory
          .wrap
            h2 Learn
            p Discover the world can take you.
        div.hdr-directory
          .wrap
            h2 Contact
            p Want to get in touch?
