// script links to be placed after the body tag
// :dependencies
script(src="vendor/javascript/leaflet.js")
script(src="vendor/javascript/lory.js")
script(src="vendor/javascript/plyr.js")
script(src="vendor/javascript/baguetteBox.min.js")
// dependencies:
script(src="javascript/main.js")
